.weather-details {
    margin-top: 6rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--primary-color);

    h4 {
        margin-bottom: 2rem;
    }

    &__feature {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.9rem;
    }

   &__degrees {
    display: flex;
    align-items: end;
    gap: 1rem
   }
  
}

 @media (max-width: 768px) { 
    .weather-details {
        margin-top: 3rem;

        h4 {
            text-align: center;
        }
    }
}