.search-bar {
  color: var(--primary-color);

  .search-bar__input {
    input {
      width: 100%;
    }

    input.p-inputtext {
      background-color: transparent;


      &::placeholder {
        color: (--primary-color)
      }
    }
  }

  p {
    margin-top: 1.8rem;
  }
}

@media (max-width: 768px) {
  .search-bar {

    input {
      display: none;
    }

    p-iconfield {
      display: none;
    }

    p {
      text-align: center;
    }
  }
}