:host {
    min-height: 100vh;
    background-image: url("/assets/images/bg-weather.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
 
    color: var(--primary-color);
}

@media (max-width: 768px) {
    :host {
        display: block;
       
    }
}


.home {
    // padding: 4rem 11rem;
width: 50%;
    &__search-bar {
        display: none;
    }

    &__degrees {
        display: flex;
    }

    &__info {
        margin-top: 38rem;
        display: flex;
        align-items: center;
       justify-content: flex-start;
       gap: 1rem;
       padding: 0 5% 0 18%;

        h1 {
            font-size: 6rem;
        }


        span {
            font-size: 4rem;
        }

        p {
            font-size: 1.2rem;
        }

    }
}

@media (max-width: 768px) {
    .home {
      width: 100%;
        padding: 2rem 2rem;
        height: 28rem;
        
        &__search-bar {
            display: flex;
            justify-content: flex-end;

            input.p-inputtext {
                background-color: transparent;
                width: 15rem;

                 &::placeholder {
                    color: rgba(255, 255, 255, 0.7);
                }
            }

        }

        &__info {
            margin-top: 15rem;
            gap: 1rem;
            justify-content: flex-start;
        }

        h1 {
            font-size: 6rem;
        }

        span {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }

}

@media (max-width: 480px) {
    .home {
       display: flex;
       flex-direction: column;



        &__search-bar {
            display: block;
            align-self: end;

            input.p-inputtext {
                background-color: transparent;
                width: 14rem;
              

                 &::placeholder {
                    color: rgba(255, 255, 255, 0.7);
                }
            }

        }
      

          &__info {
            margin-top: 16rem;

              h1 {
            font-size: 4rem;
        }

        span {
            font-size: 2rem;
        }

        p {
            font-size: 0.5rem;
        }

        img {
            height: 3rem;
        }
        }

      

        

    }
}


