<div class="home">

     <div class="home__search-bar">
          <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search Location" />
    </p-iconfield>
    </div>
    <div class="home__info">
       
        <div class="home__degrees">
            <h1>16</h1>
            <span class="home__deg">&deg;</span>
        </div>
        
        <div>
            <span>London</span>
            <p>06:09 - Monday, 9 Sep ‘23</p>
        </div>
        <img src="/assets/images/Cloudy.png">
    </div>

 
</div>
<app-weather-panel></app-weather-panel>
