.weather-panel {
    width: 40rem;
    display: block;
    min-height: 100vh;
    background-image: url("/assets/images/bg-blur.png");
    background-size: cover;
    background-position: center;
    padding: 3rem 13rem 0 3rem;

}