<div class="current-weather">
    <h4>Today’s Weather Forecast...</h4>
    <div class="current-weather__content">
        <div class="current-weather__feature">
            <div class="current-weather__degrees">
                <img src="/assets/images/outline.png">
                <div>
                    <span>09:00</span>
                    <p>snow</p>
                </div>
            
            </div>
            <p>19&deg;</p>

        </div>
        <div class="current-weather__feature">
            <div class="current-weather__degrees">
                <img src="/assets/images/outline.png">
                <div>
                    <span>09:00</span>
                    <p>snow</p>
                </div>
            
            </div>
            <p>19&deg;</p>

        </div>
    </div>
</div>